* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #2a2c2d;
  background-color: #f2f4f5; 
}

.main_bg {
  background-color: white;
  max-width: 1200px;
  padding-top: 24px;
  padding-bottom: 36px;
  margin: 4em auto;
  box-shadow: 0 0 10px #D0D0D0;
  border: 1px solid #DDDDDD;
}

.inp {
  margin-top: 6px;
  margin-bottom: 13px;
  width: 9000px;
  padding: 20px;
  line-height: 30px;
  /* border: 2px solid #e0e0e0; */
}

.mgt-b>li {
  margin-bottom: 25px;
}